<!DOCTYPE html>
<html lang="es">
<!-- HEAD-->
<%- include("../partials/head.ejs") %>
  <!-- FIN HEAD-->


  <body>


    <!-- HEADER + NAVBAR + LOGO -->
    <%- include("../partials/header.ejs") %>
      <!-- FIN  HEADER + NAVBAR + LOGO -->



      <!-- MAIN (SLIDER, PRODUCTOS DESTACADOS, MAPS) -->
      <main class="main__index-main">


        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/slider-assets/slide1.png" class="d-block w-100" alt="Imagen promo 1">
            </div>
            <div class="carousel-item">
              <img src="images/slider-assets/slide2.png" class="d-block w-100" alt="Imagen promo 2">
            </div>
            <div class="carousel-item">
              <img src="images/slider-assets/slide3.png" class="d-block w-100" alt="Imagen promo 3">
            </div>
          </div>
        </div>

        <!-- 
    <div id="container-slider">

        <ul class="slider">
            <li id="slide1">
                <img src="images/slider-assets/slide1.png" alt="slide3">
            </li>
            <li id="slide2">
                <img src="images/slider-assets/slide2.png" alt="slide3">
            </li>
            <li id="slide3">
                <img src="images/slider-assets/slide3.png" alt="slide3">
            </li>
        </ul>

        <ul class="menu">
            <li>
                <a href="#slide1">1</a>
            </li>
            <li>
                <a href="#slide2">2</a>
            </li>
            <li>
                <a href="#slide3">3</a>
            </li>
        </ul>

    </div> -->

        <h1 class="titleD">Lo que te ofrecemos</h1>

        <section class="products">


          <div class="product1-inidex">
            <div class="product-div-container">
              <div>
                <a href=""><img class="productimage" src="images/index-cards/pcgamer-index.jpg" alt="destacado1"></a>

                <p class="price">Las mejores pc preensambladas del mercado</p>

              </div>
              <a href="mailto:contacto@turingtech.com.ar" class="button-index">Encontra la tuya!</a>
            </div>
          </div>


          <div class="product1-inidex">
            <div class="product-div-container">
              <div>
                <a href=""><img class="productimage" src="images/index-cards/equipo-gamer.jpg" alt="destacado1"></a>
                <p class="price">Contamos con el mejor equipo de profesionales para asesorarte en tu compra</p>
              </div>
              <a href="mailto:contacto@turingtech.com.ar" class="button-index">Contactanos!</a>
            </div>
          </div>



          <div class="product1-inidex">
            <div class="product-div-container">
              <div>
                <a href=""><img class="productimage" src="images/index-cards/perifericos-index.jpg"
                    alt="destacado1"></a>
                <p class="price">Los mejores perifericos en un solo lugar</p>

              </div>
              <a href="mailto:contacto@turingtech.com.ar" class="button-index">Encontra el tuyo!</a>
            </div>
          </div>



          <!--   <div class="product1-inidex" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="product1-inidex" ">
        <img src="images/index-cards/pcgamer-index.jpg" class="productimage" alt="...">
        <div class="card-body">
          <h5 class="card-title-index">Atención personalizada</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="mailto:contacto@turingtech.com.ar" class="button-index">Contactanos!</a>
        </div>
      </div>
      <div class="product1-inidex" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>-->


        </section>



      </main>
      <!-- FIN MAIN (SLIDER, PRODUCTOS DESTACADOS, MAPS) -->




      <!-- footer-->
      <%- include("../partials/footer.ejs") %>
        <!-- fin footer-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
  </body>

</html>